*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #E6F7FF;
  font-family: 'Open Sans', sans-serif;
}

.container{
  padding: 30px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.03);
  color: #000080;
}

#alert{
  margin-top: 10px;
  font-weight: 800;
  color: red;
}

form{
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}

h3{
  margin-top: 20px;
}

input{
  padding: 10px;
  margin-top: 10px;
  font-size: 16px ;
}

select{
  padding: 10px;
  font-size: 16px;
}

.input-style{
  padding: 10px;
}

label{
  margin-top: 20px;
}

#web-path{
  margin-top: 20px;
}

button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 50%;
  margin: 40px auto;
  background-color: #000080;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

button:hover{
  background-color: white;
  color: #000080;
  border: 3px solid #000080;
  transition: 2s;
}

#output{
  font-size: 18px;
  font-weight: 700;
  max-width: 700px;
}

a{
  text-decoration: none;
  font-weight: 700;
}

.messages{
  margin-top: 20px;
  max-width: 700px;
}

.hidden{
  display: none;
}